{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-3">

    <h3 class="text-center mb-4">Welcome, {{ request.user.username }}</h3>

    <!-- Search Customers -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-search"></i> Search Customers
        </div>
        <div class="card-body">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search customer...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Existing Customers -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-users"></i> Existing Customers
        </div>
        <ul class="list-group list-group-flush">
            {% for customer in customers %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <strong>{{ customer.name }}</strong> - {{ customer.location }}
                </span>
                <a href="{% url 'door_selection' customer.id %}" class="btn btn-primary btn-sm">Doors <i class="fa fa-arrow-right"></i></a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Add New Customer -->
    <div class="card">
        <div class="card-header">
            <i class="fa fa-plus"></i> Add New Customer
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
    
                <!-- Fields go here as in your template -->

                <button type="submit" class="btn btn-success btn-block">Create <i class="fa fa-check"></i></button>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}
